// Specific CSS for your home-page
body {
  font-family: Helvetica;
}

.banner {
  //background-image: url("../assets/images/banner.jpg");
  background-image: asset-url("banner3.jpg"), linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
  height: 85vh;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 12px;
  margin-top: 20px;
}

.banner p {
  font-size: 23px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(10, 1, 1, 0.412);
  padding-bottom: 7px;
}

.btn-flat {
  color: white;
  padding: 14px 30px 14px 30px;
  border-radius: 4px;
  background: #2F2FA2;
  transition: background 0.3s ease;
}

.btn-flat:hover {

}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.card-product {
  overflow: hidden;
  height: 450px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
}

.card-product img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
}

img {
  width: 35%;
}

.card-product h2 {
  font-size: 28px;
  padding-top: 12px;
  font-weight: bold;
  color: #2F2FA2;
  text-align: center;

}

.card-product p {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 16px;
  text-align: center;
}

.card-product .card-product-infos {
  padding: 16px;
}

.action-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
