// Import page-specific CSS files here.
@import "home";


.vehicles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 20px;
  padding-top: 20px;
}

.vehicle {
    margin-left: auto;
    margin-right: auto;
}


.vehicles-container {
  padding: auto 30px;
  padding-top: 30px;
  background-color: #F9F9F9;

}


@media (max-width: 1000px) {
  .vehicles {
    grid-template-columns: 1fr 1fr 1fr;

  }
}

@media (max-width: 700px) {
  .vehicles {
    grid-template-columns: 1fr;
  }
}
