.body {
  font-family: $manrope;
}
.container {
  font-family: $manrope;
}
.all-box {
  display: flex;
  margin-top: 25px;
  width: 100vw;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color: #2F2FA2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: $manrope;


}

.image-bloc {
  width: 30vw;
}

.img-card {
  img {
  width: 100%;
  }
}

.text-guest-box {
  width: 25vw;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}
.text-price-box {
  width: 25vw;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}

.text-button-box {
  width: 20vw;

}

.text-bloc {
  display: flex;
  width: 70vw;
}
.text-title .title-infos .prix-title .bouton-title {
  text-align: center;
}

.header {
  width: 80vw;
  display: flex;
  text-align: center;
  margin-top: 20px;
  font-family: $manrope;
}

.h4-box {
  font-family: $manrope;
  font-weight: bold;
}

.p-box {
  font-family: $manrope;
  color: black;

}

.map-index {
  min-width: 50vw;
  min-height: 100vh;
  top: 0px;
  border-left: 8px solid #2F2FA2;
}
