.all-box {
  display: flex;
  margin-top: 20px;
  width: 100vw;


}

.image-bloc {
  width: 30vw;
}

.img-card {
  img {
  width: 100%;
  }
}

.text-guest-box {
  width: 25vw;
}
.text-price-box {
  width: 25vw;
}

.text-button-box {
  width: 20vw;

}

.text-bloc {
  width: 70vw;
  display: flex;

}


.header {
  width: 100%;
  margin: 20px;
  display: flex;
}


.photo {
}








.button {

}


.title-carte {
}

.text-title {
}

.title-infos{
}

.text-qte {
}


.prix {
}

.prix-text {
}

.Action-bouton {
}







.h4-box {
}

.p-box {
}







.cards-product {
}

.card-product-img {
}

.card-product-infos h2 {
}

.card-product-infos p {
}

.card-products .card-product-img .card-product-infos {
}
