.header {
  width: 100%;
  margin: 20px;
  display: flex;
}

.text-box {
  display: flex;
  margin-top: 20px;
}
.title-carte {
}

.text-title {
}

.title-infos{
}

.text-qte {
}


.prix {
}

.prix-text {
}

.Action-bouton {
}

.card-elements-blox {
}

.photo {
}
.img-card {
  background-size: cover;
}



.h4-box {
}

.p-box {
}

.text-price-box {
}

.text-button-box {
}

.button {

}



.cards-product {
}

.card-product-img {
}

.card-product-infos h2 {
}

.card-product-infos p {
}

.card-products .card-product-img .card-product-infos {
}
