.container-index {
  margin-left: 0px;
  padding: 0px;
  display: flex;
  width: 100vw;
}

.title_edit{
  margin-bottom: 2.5rem;
}
.card-vehicles {
  min-width: 50vw;
}

.map-index {
  min-width: 50vw;
  top: 20px;
}

.card-vehicles h1 {
  font-size: 25px;
  text-align: left;
  padding-top: 40px;
}

.card-category {
position: relative;
height: 300px;
width: 700px;
background-position: center;
display: flex;
color: white;
font-size: 24px;
font-weight: bold;
// margin-top: 50px;
margin-right: 20px;
margin-top: 24px;
margin-right: auto;
margin-left: auto;
text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
text-decoration: none;
// box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  &:hover {
      background: white;
      text-shadow: 1px 1px 2px black;

    }
}
.bottom_line {
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #2F2FA2;
}
.card-img {
  background-size: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-width: 700px;
  min-height: 300px;
  margin-bottom: 4px;
}

.label-vehicle-type {
  color: #2F2FA2;
  border-radius: 30px;
  background-color: #B0B0E8;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
}

.bottom-center{
  position: absolute;
  text-align: center;
  top: 88%;
  width: 100%;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .vehicles {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .vehicles {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .vehicles {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .vehicles {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .vehicles {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
