.container-index {
  margin-left: 0px;
  padding: 0px;
  display: flex;
  width: 100vw;
}

.title_edit{
  margin-bottom: 2.5rem;
  color: #2F2FA2;
  font-weight: 900;
}
.card-vehicles {
  min-width: 50vw;
  background-color: #F0F0FA;
}

.map-index {
  min-width: 50vw;
  min-height: 100vh;
  top: 0px;
  border-left: 8px solid #2F2FA2;
}

.card-vehicles h1 {
  font-size: 35px;
  padding-top: 40px;
  margin-bottom: 0px;
}

.card-vehicles p {
  font-size: 18px;
  font-weight: 400;
  margin-left: 30px;
  margin-bottom: 0px;
}

.card-category {
position: relative;
height: 300px;
width: 660px;
background-position: center;
display: flex;
color: white;
background-color: white;
font-size: 24px;
font-weight: bold;
margin-right: 20px;
margin-top: 24px;
margin-right: 30px;
margin-left: 30px;
text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
border-radius: 4px;
text-decoration: none;
// box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  &:hover {
      background: white;
      text-shadow: 1px 1px 2px black;

    }
}


// .bottom_line {
// border-bottom-width: 1px;
// border-bottom-style: solid;
// border-bottom-color: #2F2FA2;
// margin-left: 50px;
// margin-right: 50px;
// }

.card-img {
  background-size: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
  // min-width: 660px;
  // min-height: 300px;
  // margin-bottom: 4px;
  filter: grayscale(70%);
  border-radius: 4px;

}

.card-img:hover {
  filter: grayscale(0%);
}

.label-vehicle-type {
  color: #2F2FA2;
  border-radius: 30px;
  background-color: #B0B0E8;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
}

.bottom-center{
  position: absolute;
  text-align: center;
  top: 88%;
  width: 100%;
}

.inner-card {
  padding: 10px;
  width: 100%;
  background-color: white;
  border-radius: 4px;
  &:hover {
    transform: scale(1.02);
    transition: 0.2s ease-in-out;
  }
}

.title_edit h1 {
  margin-left: 30px;
  padding-top: 50px;
}

.title_edit p {
  margin-top: 0px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .vehicles {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .vehicles {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .vehicles {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .vehicles {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .vehicles {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
