 body {
  font-family: $manrope;
  background-color: white;
}

.picture-show {
  display: flex;
}

.picture {
  min-width: 70vw;
  position: relative;
  color: whitesmoke;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-decoration: none;

}

.content_show {
  padding: 20px 40px;
  min-width: 30vw;
  font-size: 15px;
  border-left: solid #2F2FA2;
  border-top: solid #2F2FA2;
  border-bottom: solid #2F2FA2;
}

.card-img-show {
  background-size: cover;
  min-width: 100%;
  height: auto;
}

.show-avatar {
  border-radius: 50%;
  width: 40px;

}

.btn:hover {
color: #2F2FA2;
text-decoration: none;
}

.btn-submit {
  margin-top: 10px;
	background-color:transparent;
	border-radius:28px;
	border:1px solid #2F2FA2;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-size:10px;
	font-weight:bold;
	padding:10px;
	text-decoration:none;
}

.btn-submit:hover {
	background-color:transparent;
}

.btn-submit:active {
	position:relative;
	top:1px;
}

.btn-share {
  background-color:#2f2fa2;
	border-radius:28px;
	border:1px solid #bfbfbf;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:12px;
	font-weight:bold;
	padding:5px;
	text-decoration:none;
	text-shadow:0px 0px 2px #283966;
}
.btn-share:hover {
	background:linear-gradient(to bottom, #1c1c7a 5%, #2f2fa2 100%);
	background-color:#1c1c7a;
}
.btn-share:active {
	position:relative;
	top:1px;
}

.h2-item {
	font-weight:lighter;
}
.h3-item {
margin-left: -5px;
  margin-top: 10px;
  font-size: 20px;
}

.price-lighter {
	font-size:14px;
	font-weight:lighter;
}
