.btn-flat {
  color: white;
  padding: 14px 30px 14px 30px;
  border-radius: 4px;
  background: #2F2FA2;
  font-weight: bold;
}

.btn-flat:hover {

  background-color: #B0B0E8;
  color: white;
  transform: scale(1.02);
  transition: 0.2s ease-in-out;
}
