h1 {
  text-align: left;
  margin-left: 30px;
}

h2 {
  color: #2F2FA2;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

h3 {
  color: #000000;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
}
