.vehicle {
  width: 400px;
  height: 250px;
  background-color: #E9E9E9;
  border-radius: 4px;
  margin-bottom: 10px;
}

.vehicle-img {
  width: 100%;
  padding: 20px;
}

img {
  border-radius: 2px;
}
