
.vehicles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 20px;
  padding-top: 20px;
}

.card.vehicle {

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 300px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.card-img-top {
  background-size: cover;
  max-height: 150px;
  min-height: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.vehicle-img {
  width: 100%;
  padding: 20px;
}

.label-vehicle-type {
  color: #2F2FA2;
  border-radius: 30px;
  background-color: #B0B0E8;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
}


@media (max-width: 1000px) {
  .vehicles {
    grid-template-columns: 1fr 1fr 1fr;

  }
}

@media (max-width: 700px) {
  .vehicles {
    grid-template-columns: 1fr;
  }
}

h1 {
  text-align: left;
  margin-left: 30px;
}

h2 {
  color: #2F2FA2;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.header-index {
  background-color: #F9F9F9;
  padding-top: 50px;
  padding-bottom: 50px;
}
