.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.login {
  color: #2F2FA2 !important;
  font-weight: bold;
  padding: 6px;

}

.nav-link.signup {
  padding: 6px;
  color: white !important;
  background-color: #2F2FA2;
  border-radius: 4px;
  padding-top: auto;
  padding-bottom: auto;
}

.bottom_line {
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #2F2FA2;
width: 103px;
margin-right: 25px;
margin-left: 25px;
}

.dropdown-item {
  font-family: $manrope;
  font-weight: bold;
}

.dropdown-item p{
  font-family: $manrope;
  font-weight: lighter;
  color: #2F2FA2;
}

.dropdown-item-2 {
  font-family: $manrope;
  color: #707070;
  font-weight: 400;
  font-size: 12px;
  padding: 0.25rem 1.5rem;

}
