.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid #F5F5F5;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.login {
  color: #2F2FA2;
}

.signup {
  padding: 6px;
  color: white !important;
  background-color: #2F2FA2;
  border-radius: 4px;
  margin-top: auto;
  margin-bottom: auto;
}
