<div class="header-index">
<h1>What would you like for going up to the heaven ?</h1>
</div>

<div>
  <h2>Decouvrez nos véhicules: </h2>
</div>

<div class="container my-3">
  <div class="cards">
    <% @vehicles.each do |vehicle| %>
        <div class="card-category">
          <%= link_to vehicle_path(vehicle) do %>
            <%= image_tag vehicle.photo, class: "card-img"%>
          <% end %>
          <div class="bottom-center">
              <span class="label-vehicle-type"><%= vehicle.vehicle_type %></span>
              <br>
              $<%= vehicle.price_per_day %>
          </div>
        </div>
    <% end %>
  </div>
</div>
