<div class="header-index">
<h1>What would you like for going up to the heaven ?</h1>
</div>

<div>
  <h2>Decouvrez nos véhicules: </h2>
</div>

<div class="container my-3">
  <div class="cards">
    <% @vehicles.each do |vehicle| %>
      <div class="card-category">
        <%= image_tag vehicle.photo, class: "card-img"%>
        <div class="top-right">
            <span class="label-vehicle-type"><%= vehicle.vehicle_type.upcase %></span>
            <br>
            $<%= vehicle.price_per_day/1000 %> k
        </div>
      </div>
    <% end %>
  </div>
</div>
